body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  height: 97vh;
  width: 100%;
}

.col {
  border-style: solid;
}

.template-form-div {
  display: grid;
  place-items: center;
  margin-top: 40vh;
}

iframe {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}